/* .overlay{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
} */

.close-button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
  margin-top: 20px;
}

.close-button {
  display: flex;
  justify-content: flex-end;
  color: white;
  margin-right: 20px;
  font-family: hanikenSerif;
}

.modal-detail-container {
  width: 370px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #000242;
  border-radius: 30px;
  box-shadow: -1px 1px 0px 4px rgb(0, 0, 0) !important;
  -webkit-box-shadow: -1px 1px 0px 4px rgb(0, 0, 0) !important;
  -moz-box-shadow: -1px 1px 0px 4px rgb(0, 0, 0) !important;
  overflow: scroll;
}

.modal-detail-content {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.modal-title {
  font-family: hanikenSerif;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  display: flex;
  color: white;
  margin-top: 15px;
  padding-left: 25px;
}

.event-modal-content {
  width: 100%;
  font-family: hanikenSerif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  color: white;
}

.modal-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.modal-item-value {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px!important;
}

.modal-item-value> span:first-child {
  width: 30%;
  padding-left: 10px;

}

.modal-item-value> span:last-child  {
  width: 70%;
  padding-left: 10px;
}

.promotion-item-value {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  color: #05FF00;
}

.promotion-item-value > label {
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

.promotion-item-value > span {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.artist-lineup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.title-name {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.artist-lineup > span:last-child {
  font-size: 12px;
}

.event-modal-image {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 320px) {
  .modal-detail-content {
    width: 320px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 420px) and (orientation: portrait) {
  .modal-detail-content {
    width: 300px;
  }

  .modal-cover-img {
    width: 100%;
    height: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .modal-detail-container {
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #000242;
    border-radius: 30px;
  }
}