/** 
Component Name              - Party Radar Component [Style]
Development By              - InnoScript Co., Ltd
Date                        - 11/04/2024
Email                       - info@innoscript.co
**/

.party-radar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #009d1b;
}

.party-radar-where-event-img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.party-radar-content {
    padding: 20px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;
    font-family: natosansmm;
    color: #fff;
}

.hnk-text-party-radar {
    font-family: hanikenSerif !important;
    font-size: 14px!important;
    font-weight: 400;
    color: #fff;
}

.event-slider-footer {
    width: 100%;
}

.event-slider-bg {
    width: 100%;
}

.event-slider-elogo {
    position: absolute;
    bottom: 100px;
}