/** 
Component Name              - MOFT Page Component [style]
Development By              - InnoScript Co., Ltd
Date                        - 11/04/2024
Email                       - info@innoscript.co
**/

.moft-wrapper {
  width: 100%;
  background: #040658;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 2000px;
}

.moft-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #00880f;
  border-radius: 0px 0px 10px 10px;
}

.moft-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}

.getter-img {
  transform: rotate(55deg);
  position: relative;
  left: -95px;
  bottom: -55px;
}

.gift-card {
  position: relative;
  left: -100px;
  width: 250px;
}

.promotion-period {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  font-family: "natosansmm";
  position: relative;
  top: -40px;
  overflow-x: hidden;
}

.moft-promotion-title {
  font-size: 20px;
  font-weight: 800;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 5px;
  width: 100%;
  color: #fff;
}

.moft-hnk-effect {
  font-family: "hanikenSerif";
}

.moft-text {
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.moft-muisc-player {
  position: relative;
  right: -72%;
  top: -75px;
}
.moft-content {
  width: 420px;
  height: 2495px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.moft-promo-item-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -200px;
}

.moft-item-card {
  width: calc(100% - 50px);
  background-color: #6508a6;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  transform: rotate(-1deg);
  margin-top: 30px;
  box-shadow: -2px -2px 0px 0px #252424;
}

.moft-promo-item-wrapper>.promotion-title {
  color: #fff;
  font-size: 20px;
  font-weight: 800px!important;
}

.moft-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.moft-item-label {
  font-family: hanikenSerif;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 12px;
}

.moft-veritcal-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-footer {
  position: relative;
  top: -16px;
  width: 329px;
  left: 9px;
}

.moft-promo-detail {
  width: 100%;
  background: #00880f;
  color: #fff;
  font-family: "natosansmm";
  position: relative;
  top: -200px;
}

.moft-promo-detail > label {
  width: 100%;
  font-size: 20px;
  font-weight: 900;
  text-shadow: 2px 2px #252424;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: 30px;
}

.moft-promo-detail > ul {
  width: 100%;
  position: relative;
  top: 40px;
  margin-bottom: 50px;
}
.moft-promo-detail > ul > li {
  font-size: 14px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}

.moft-footer {
  width: 100%;
  position: relative;
}