.btn-style{
    font-size: 20px;
    font-weight: 500;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    border: 1px solid #000000;
    box-shadow: -5px 5px 0px 1px #000000;
    z-index: 1;
    padding: 15px 30px;
    position: relative;
    overflow: hidden;
}

.button-label{
    font-family: hanikenSerif;
    font-weight: 600;
    margin-right: 10px;
}

.btn-style:hover{
    scale: 0.95;
    transition: scale 0.3s ease;

    &::before{
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        background-color: #e4e4e4;
        border-radius: 50%;
        z-index: -1;
        animation: btnAnimation 1s ease-in-out backwards;
    }

}

.btn-style:disabled{
    background-color: #c1c1c1;
    color: #e4e4e4;
}

.btn-style:active{
    scale: 0.95;
    transition: scale 0.3s ease;
}

/* .btn::before{
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: #e4e4e4;
    animation: btnAnimation 2s ease-in-out reverse;
} */

@keyframes btnAnimation {
    from {
        width: 0;
        height: 0;
    }
    to{
        width: 200px;
        height: 200px;
    }
}