.page_container{
    width: 100%;
    position: relative;
    margin-top: 100px;
    background-color: #000242;
}

.slider_container{
    /* position: absolute; */
    width: 100%;
    margin-top: 100px;
    display: block;
    padding: 5px 0;
    background-color: #532B6F;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #000;
}

.level_section{
    background-color: #00880F;
    position: relative;
    overflow: hidden;
}

.level_title{
    font-family: hanikenSerif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    color: #00FF00;
    text-shadow: -4px 3px 0px #000000;
    -webkit-text-stroke: 1px #000000;
    line-height: normal;
}

.ep1{
    position: absolute;
    top: 210px;
    left: 20px;
}

.ep2{
    position: absolute;
    top: 455px;
    right: 20px;
}

.ep3{
    position: absolute;
    top: 650px;
    left: 20px;
}

.ep4{
    position: absolute;
    top: 880px;
    right: 20px;
}

.ep5{
    position: absolute;
    top: 1125px;
    left: 20px;
}

.line{
    margin-top: 60px;
}

.line_2{
    margin-top: 60px;
}

.line_3{
    margin-top: 60px;
}
/* 
.ep1_btn_label{
    top: 230px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.ep2_btn_label{
    width: 180px;
    position: absolute;
    top: 455px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ep3_btn_label{
    width: 180px;
    position: absolute;
    top: 680px;
    right: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ep4_btn_label{
    width: 180px;
    position: absolute;
    top: 895px;
    left: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ep5_btn_label{
    width: 180px;
    position: absolute;
    top: 1150px;
    right: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start_label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: relative;
    right: 0px;
    top: -170px;
}

.getstars_btn{
    width: 180px;
    position: absolute;
    top: 1390px;
    left: 50%;
    transform: translateX(-50%);
}

.randr_enjoy{
    position: absolute;
    right: 30px;
    bottom: 180px;
}

.ep_section{
    width: 100%;
    position: relative;
    height: 280px;
    overflow: hidden;
}

.flex_relative {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: -170px;
}

.ep_right_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ep_right_label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.btn_label_text {
    width: 180px;
    font-family: hanikenSerif;
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.ep_btn {
    position: relative;
    top: -10px;
}

.svg_line_2 {
    top: -175px;
    position: relative;
}

.top_adj_200 {
    top: -300px;
    left: 20px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@media only screen and (min-width: 375px) {
    .ep1-btn-label, .ep3-btn-label, .ep1, .ep4, .ep2, .ep5-btn-label{
        right: 0;
    }

    .randr_enjoy{
        right: 22px;
        bottom: 173px;
    }
}

@media only screen and (min-width: 420px) {
    .ep1-btn-label, .ep3-btn-label, .ep1, .ep4, .ep2, .ep5-btn-label{
        right: 20px;
    }
    .randr_enjoy{
    right: 30px;
    bottom: 192px;
    }
}
