.singer-detail-wrapper {
    width: 100%;
}

.cover-image {
    width: 100%;
}

.singer-wrapper {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
}

.singer-title {
    font-size: 2rem;
    font-weight: 800;
    color: #00FF38;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
    font-family: hanikenSerif;
    padding-left: 10px;
    padding-right: 10px;
}

.singer-title>span:last-child {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
}

.btl-image {
    width: 90px;
    position: absolute;
    right: 0px;
    z-index: 1;
}

.video-wrapper {
    width: 100%;
    height: auto;
    background-color: #000;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    top: -20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
}

.video-player {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.video-title {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: hanikenSerif;
}

.video-play {
    width: 100%;
    height: 200px;
}

.video-item-wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    background-color: #4C4C4C;
    border-radius: 10px;
    cursor: pointer;
}

.video-thum {
    width: 40%;
    height: 200px;
}


.video-thum > img {
    width: 100%;
    height: 200px;
    border-radius: 10px 0px 0px 10px;
}

.video-detail {
    width: 60%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    font-family: hanikenSerif !important;
}

.video-detail>h4 {
    font-size: 1rem;
    font-weight: 800;
}

.video-detail>p {
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 10px;
    color: #cbcbcb;
}

.video-poster {
    width: calc(100% - 20px);
    height: 200px;
    position: absolute;
    background-color: rgb(0, 255, 56, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: hanikenSerif;
    flex-wrap: wrap;
}

.video-poster-title  {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.video-poster-title > h4{
    padding-left: 10px;
    color: #00FF38;
    font-size: 1.2rem;
    font-weight: 900;
}

.video-poster-title > p {
    padding-left: 10px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn-play {
    /* position: absolute; */
    cursor: pointer;
    z-index: 20;
    /* top: 50px; */
}

.play-btn-icon {
    width: 40px;
    height: 50px;
}

@media screen and (max-width: 420px) {
    .singer-title {
        font-size: 1.5rem;
    }

    .singer-title>span:last-child {
        font-size: 1rem;
    }
}

.singer-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.singer-btn {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #000000;
    box-shadow: -5px 5px 0px 1px #000000;
    z-index: 1;
    padding: 8px;
    cursor: pointer;
    color: #000;
}

.singer-btn > span {
    font-size: small;
}

.singer-btn:first-child {
    margin-left: 0px;
}