.top-slogan{
    max-width: 410px;
    height: 30px;
    overflow: hidden;
    background-color: #000242;
    margin: 5px;
    padding: 5px;
    border-radius: 7px;
    align-items: center;
    position: relative;
}

.redStar{
    margin: 0 10px;
    width: 20px;
    height: 18px;
}

.slogan-container{
    text-wrap: nowrap;
    display: flex;
    font-family: hanikenSerif;
    color: #00FF70;
    /* overflow: auto; */
    position: absolute;
    left: 0px;
    animation: rotateSlogan 10s linear infinite;
}

@keyframes rotateSlogan {    
    100% {
        left: -334px
    }
}

@media only screen and (max-width: 375px) {
    .top-slogan{
        width: calc(100% - 20px)
    }
}

@media only screen and (max-width: 420px) {
    .top-slogan{
        width: calc(100% - 20px)
    }
}