.app-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 20px;
}

.menu-btn {
    position: absolute;
    left: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.refresh-music-img {
    margin-top: 20px;
}