/** 
Component Name              - Register Complete Invite Page Component [style]
Development By              - InnoScript Co., Ltd
Date                        - 11/04/2024
Email                       - info@innoscript.co
**/

.invite-container{
    position: relative;
    background-color: #00880F;
    border-radius: 5px;
}

.profile-invite-img{
    margin-top: 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #000000;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.invite-section-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.invite-section{
    width: 340px;
    /* height: 302px; */
    background-color: #532B6F;
    border-radius: 15px;
    border: 2px solid #000;
    box-shadow: -3px 3px 0px 0px #000;
    margin-bottom: 20px;
}

.invite-section > p {
    margin-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    line-height: 40px;
}

.user-name{
    margin-top: 30px;
    text-align: center;
    font-family: hanikenSerif;
    font-size: 20px;
    font-weight: 600;
    color: #01EC48;
    text-shadow: -2px 3px #000;
}

.invite-content-green-text{
    text-align: center;
    font-family: w14art;
    font-size: 25px;
    font-weight: 400;
    color: #01EC48;
    text-shadow: -2px 3px #000;
}

.invite-content-white-text{
    text-align: center;
    font-family: w14art;
    font-size: 25px;
    font-weight: 400;
    color: #ffffff;
    text-shadow: -2px 3px #000;
}

.invite-content-eng-text{
    text-align: center;
    font-family: hanikenSerif;
    font-size: 25px;
    font-weight: 400;
    color: #01EC48;
    text-shadow: -2px 3px #000;
}

.invite-content{
    margin-top: 23px;
    /* margin: 10px auto; */
    text-align: center;
    line-height: 50px;
    padding: 10px 10px
}

.share-back-btn{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.or-text{
    color: #01EC48;
    font-family: hanikenSerif;
    font-size: 27px;
    text-shadow: -2px 3px #000;
    margin: 20px 0;
}

.feed-back-stars{
    margin: 10px auto;
}

.invite-beer-bottle{
    position: relative;
    transform: rotate(50deg);
}

/* .invite-hand{
    position: absolute;
    right: -7px;
    top: 150px;
    transform: rotate(6.38deg);
} */

.invite-footer{
    background-color: #00880F;
    position: relative;
    width: 100%;
    height: 240px;
    top: -30px;
}

.invite-enjoy{
    position: absolute;
    bottom: 170px;
    right: 10px;
    z-index: 20;
}

.mp3Player{
    position: absolute;
    right: 0;
    /* top: 31px; */
}

.earphone{
    position: absolute;
    left: 0;
    top: -90px;
    z-index: 10;
}

@media only screen and (min-width: 375px) {
    .mp3Player{
        top: 13px
    }
}

@media only screen and (min-width: 420px) {
    .mp3Player{
        top: -4px;
        width: 250px;

    }
}
